In [10]:
import pandas as pd
import numpy as np
import time

In [11]:
path = '/home/kai/data/kaggle/talkingdata/data/'
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }
train_sample = pd.read_csv(path + 'train_sample.csv',dtype=dtypes,)

In [3]:
train_sample.head(20)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0
5,93663,3,1,17,115,2017-11-09 01:22:13,NaN,0
6,17059,1,1,17,135,2017-11-09 01:17:58,NaN,0
7,121505,9,1,25,442,2017-11-07 10:01:53,NaN,0
8,192967,2,2,22,364,2017-11-08 09:35:17,NaN,0
9,143636,3,1,19,135,2017-11-08 12:35:26,NaN,0
10,73839,3,1,22,489,2017-11-08 08:14:37,NaN,0
11,34812,3,1,13,489,2017-11-07 05:03:14,NaN,0
12,114809,3,1,22,205,2017-11-09 10:24:23,NaN,0
13,114220,6,1,20,125,2017-11-08 14:46:16,NaN,0
14,36150,2,1,13,205,2017-11-07 00:54:09,NaN,0
15,72116,25,2,19,259,2017-11-08 23:17:45,NaN,0
16,5314,2,1,2,477,2017-11-09 07:33:41,NaN,0
17,106598,3,1,20,280,2017-11-09 03:44:35,NaN,0
18,72065,20,2,90,259,2017-11-06 23:14:08,NaN,0
19,37301,14,1,13,349,2017-11-06 20:07:00,NaN,0

# processing time

In [4]:
clicks = pd.to_datetime(train_sample.click_time)

In [5]:
type(clicks)

pandas.core.series.Series

In [6]:
# get timestamp

df = pd.DataFrame()
df['timestamp'] = clicks.apply(lambda t: t.timestamp())
df['timestamp'] = df['timestamp'].astype('uint32')

In [7]:
# get time info
dt = pd.to_datetime(train_sample.click_time).dt

df['year'] = dt.year.astype('uint16')
df['month'] = dt.month.astype('uint8')
df['week'] = dt.week.astype('uint8')
df['day'] = dt.day.astype('uint8')
df['dayofweek'] = dt.dayofweek.astype('uint8')
df['hour'] = dt.hour.astype('uint8')
df['minute'] = dt.minute.astype('uint8')
df['second'] = dt.second.astype('uint8')

In [9]:
dt.date

0        2017-11-07
1        2017-11-07
2        2017-11-07
3        2017-11-07
4        2017-11-09
5        2017-11-09
6        2017-11-09
7        2017-11-07
8        2017-11-08
9        2017-11-08
10       2017-11-08
11       2017-11-07
12       2017-11-09
13       2017-11-08
14       2017-11-07
15       2017-11-08
16       2017-11-09
17       2017-11-09
18       2017-11-06
19       2017-11-06
20       2017-11-09
21       2017-11-08
22       2017-11-08
23       2017-11-07
24       2017-11-07
25       2017-11-07
26       2017-11-07
27       2017-11-07
28       2017-11-07
29       2017-11-07
            ...
99970    2017-11-09
99971    2017-11-08
99972    2017-11-07
99973    2017-11-09
99974    2017-11-08
99975    2017-11-09
99976    2017-11-07
99977    2017-11-09
99978    2017-11-09
99979    2017-11-09
99980    2017-11-08
99981    2017-11-09
99982    2017-11-09
99983    2017-11-07
99984    2017-11-07
99985    2017-11-09
99986    2017-11-07
99987    2017-11-08
99988    2017-11-09
99989    2017-11-07
99990    2017-11-09
99991    2017-11-09
99992    2017-11-07
99993    2017-11-09
99994    2017-11-07
99995    2017-11-09
99996    2017-11-07
99997    2017-11-08
99998    2017-11-08
99999    2017-11-07
Name: click_time, Length: 100000, dtype: object

In [50]:
df

        timestamp  day  dayofweek  hour  minute  week  month  year  second
0      1510047038    7          1     9      30    45     11  2017      38
1      1510062027    7          1    13      40    45     11  2017      27
2      1510077924    7          1    18       5    45     11  2017      24
3      1510030688    7          1     4      58    45     11  2017       8
4      1510218009    9          3     9       0    45     11  2017       9
5      1510190533    9          3     1      22    45     11  2017      13
6      1510190278    9          3     1      17    45     11  2017      58
7      1510048913    7          1    10       1    45     11  2017      53
8      1510133717    8          2     9      35    45     11  2017      17
9      1510144526    8          2    12      35    45     11  2017      26
10     1510128877    8          2     8      14    45     11  2017      37
11     1510030994    7          1     5       3    45     11  2017      14
12     1510223063    9          3    10      24    45     11  2017      23
13     1510152376    8          2    14      46    45     11  2017      16
14     1510016049    7          1     0      54    45     11  2017       9
15     1510183065    8          2    23      17    45     11  2017      45
16     1510212821    9          3     7      33    45     11  2017      41
17     1510199075    9          3     3      44    45     11  2017      35
18     1510010048    6          0    23      14    45     11  2017       8
19     1509998820    6          0    20       7    45     11  2017       0
20     1510221322    9          3     9      55    45     11  2017      22
21     1510160518    8          2    17       1    45     11  2017      58
22     1510106737    8          2     2       5    45     11  2017      37
23     1510050600    7          1    10      30    45     11  2017       0
24     1510018531    7          1     1      35    45     11  2017      31
25     1510027138    7          1     3      58    45     11  2017      58
26     1510071545    7          1    16      19    45     11  2017       5
27     1510075372    7          1    17      22    45     11  2017      52
28     1510036744    7          1     6      39    45     11  2017       4
29     1510049510    7          1    10      11    45     11  2017      50
...           ...  ...        ...   ...     ...   ...    ...   ...     ...
99970  1510234555    9          3    13      35    45     11  2017      55
99971  1510101044    8          2     0      30    45     11  2017      44
99972  1510030972    7          1     5       2    45     11  2017      52
99973  1510189178    9          3     0      59    45     11  2017      38
99974  1510128520    8          2     8       8    45     11  2017      40
99975  1510241577    9          3    15      32    45     11  2017      57
99976  1510095552    7          1    22      59    45     11  2017      12
99977  1510237341    9          3    14      22    45     11  2017      21
99978  1510228069    9          3    11      47    45     11  2017      49
99979  1510226368    9          3    11      19    45     11  2017      28
99980  1510145891    8          2    12      58    45     11  2017      11
99981  1510210225    9          3     6      50    45     11  2017      25
99982  1510193360    9          3     2       9    45     11  2017      20
99983  1510019280    7          1     1      48    45     11  2017       0
99984  1510030921    7          1     5       2    45     11  2017       1
99985  1510192253    9          3     1      50    45     11  2017      53
99986  1510054074    7          1    11      27    45     11  2017      54
99987  1510147182    8          2    13      19    45     11  2017      42
99988  1510235610    9          3    13      53    45     11  2017      30
99989  1510052528    7          1    11       2    45     11  2017       8
99990  1510201288    9          3     4      21    45     11  2017      28
99991  1510231354    9          3    12      42    45     11  2017      34
99992  1510047194    7          1     9      33    45     11  2017      14
99993  1510196597    9          3     3       3    45     11  2017      17
99994  1510040053    7          1     7      34    45     11  2017      13
99995  1510233941    9          3    13      25    45     11  2017      41
99996  1510053943    7          1    11      25    45     11  2017      43
99997  1510141122    8          2    11      38    45     11  2017      42
99998  1510163721    8          2    17      55    45     11  2017      21
99999  1510065147    7          1    14      32    45     11  2017      27

[100000 rows x 9 columns]

In [51]:
df = pd.DataFrame()
df['timestamp'] = clicks.apply(lambda t: t.timestamp())
df['timestamp'] = df['timestamp'].astype('uint32')

In [57]:
import multiprocessing

def _apply_df(args):
    df, func, kwargs = args
    return df.apply(func, **kwargs)

def _build_in_df(args):
    df, kwargs = args
    time_type = kwargs.pop('time_type')
    if time_type == 'year':
        return df.year.astype('uint16')
    elif time_type == 'month':
        return df.month.astype('uint8')
    elif time_type == 'week':
        return df.week.astype('uint8')
    elif time_type == 'day':
        return df.day.astype('uint16')
    elif time_type == 'minute':
        return df.minute.astype('uint8')
    elif time_type == 'second':
        return df.second.astype('uint8')

def apply_by_multiprocessing(df, func, **kwargs):
    workers = kwargs.pop('workers')
    pool = multiprocessing.Pool(processes=workers)
    result = pool.map(_apply_df, [(d, func, kwargs)
            for d in np.array_split(df, workers)])
    pool.close()
    return pd.concat(list(result))

def build_in_by_multiprocessing(df, **kwargs):
    workers = kwargs.pop('workers')
    pool = multiprocessing.Pool(processes=workers)
    result = pool.map(_build_in_df, [(d, kwargs)
            for d in np.array_split(df, workers)])
    pool.close()
    return pd.concat(list(result))

def func(x):
    return x.timestamp()

aa = apply_by_multiprocessing(clicks, func, workers=10)

In [60]:
bb = build_in_by_multiprocessing(dt, workers=10, time_type='year')

TypeError: object of type 'DatetimeProperties' has no len()

In [14]:
a = train_sample.groupby(['click_time'])

In [15]:
a.countnt()

,ip,app,device,os,channel,attributed_time,is_attributed
click_time,,,,,,,
2017-11-06 16:00:00,1,1,1,1,1,0,1
2017-11-06 16:00:09,2,2,2,2,2,0,2
2017-11-06 16:00:11,2,2,2,2,2,0,2
2017-11-06 16:00:13,1,1,1,1,1,0,1
2017-11-06 16:00:19,1,1,1,1,1,0,1
2017-11-06 16:00:20,2,2,2,2,2,0,2
2017-11-06 16:00:21,1,1,1,1,1,0,1
2017-11-06 16:00:23,2,2,2,2,2,0,2
2017-11-06 16:00:24,2,2,2,2,2,0,2
2017-11-06 16:00:25,1,1,1,1,1,0,1
2017-11-06 16:00:31,1,1,1,1,1,0,1
2017-11-06 16:00:32,1,1,1,1,1,0,1
2017-11-06 16:00:35,1,1,1,1,1,0,1
2017-11-06 16:00:42,2,2,2,2,2,0,2
2017-11-06 16:00:43,1,1,1,1,1,0,1
2017-11-06 16:00:46,1,1,1,1,1,0,1
2017-11-06 16:00:47,2,2,2,2,2,0,2
2017-11-06 16:00:51,2,2,2,2,2,0,2
2017-11-06 16:00:52,1,1,1,1,1,0,1
2017-11-06 16:00:55,1,1,1,1,1,0,1
2017-11-06 16:01:03,1,1,1,1,1,0,1
2017-11-06 16:01:04,1,1,1,1,1,0,1
2017-11-06 16:01:05,1,1,1,1,1,0,1
2017-11-06 16:01:06,1,1,1,1,1,0,1
2017-11-06 16:01:09,2,2,2,2,2,0,2
2017-11-06 16:01:10,1,1,1,1,1,0,1
2017-11-06 16:01:11,1,1,1,1,1,0,1
2017-11-06 16:01:12,2,2,2,2,2,0,2
2017-11-06 16:01:13,1,1,1,1,1,0,1
2017-11-06 16:01:16,1,1,1,1,1,0,1
...,...,...,...,...,...,...,...
2017-11-09 15:58:35,1,1,1,1,1,0,1
2017-11-09 15:58:36,1,1,1,1,1,0,1
2017-11-09 15:58:37,1,1,1,1,1,0,1
2017-11-09 15:58:38,3,3,3,3,3,0,3
2017-11-09 15:58:43,1,1,1,1,1,0,1
2017-11-09 15:58:47,1,1,1,1,1,0,1
2017-11-09 15:58:51,1,1,1,1,1,0,1
2017-11-09 15:58:55,2,2,2,2,2,0,2
2017-11-09 15:58:56,1,1,1,1,1,0,1
2017-11-09 15:59:01,1,1,1,1,1,0,1
2017-11-09 15:59:02,1,1,1,1,1,0,1
2017-11-09 15:59:04,1,1,1,1,1,0,1
2017-11-09 15:59:09,1,1,1,1,1,0,1
2017-11-09 15:59:10,2,2,2,2,2,0,2
2017-11-09 15:59:13,2,2,2,2,2,0,2
2017-11-09 15:59:14,1,1,1,1,1,0,1
2017-11-09 15:59:22,1,1,1,1,1,0,1
2017-11-09 15:59:23,2,2,2,2,2,0,2
2017-11-09 15:59:26,1,1,1,1,1,0,1
2017-11-09 15:59:27,1,1,1,1,1,0,1
2017-11-09 15:59:33,2,2,2,2,2,0,2
2017-11-09 15:59:34,1,1,1,1,1,0,1
2017-11-09 15:59:36,1,1,1,1,1,0,1
2017-11-09 15:59:39,1,1,1,1,1,0,1
2017-11-09 15:59:41,1,1,1,1,1,0,1
2017-11-09 15:59:42,1,1,1,1,1,0,1
2017-11-09 15:59:43,1,1,1,1,1,0,1
2017-11-09 15:59:44,1,1,1,1,1,0,1
2017-11-09 15:59:46,1,1,1,1,1,0,1
2017-11-09 15:59:51,1,1,1,1,1,0,1